{{ ansible_managed | comment }}

UI menu.c32
PROMPT {{ syslinux_prompt }}
MENU TITLE {{ syslinux_menu_title }}
TIMEOUT {{ syslinux_timeout }}
DEFAULT {{ syslinux_default }}
{% if syslinux_master_passwd %}
MENU MASTER PASSWD {{ syslinux_master_passwd }}
{% endif %}

{% for entry in syslinux_entries %}
LABEL {{ entry.label }}
 MENU LABEL {{ entry.menu_label }}
 LINUX {{ entry.linux }}
 INITRD {{ entry.initrd }}
 APPEND {{ entry.append }}
{% endfor %}
